exportPattern("^[[:alpha:]]+")
import(MASS)
export(assign_minMSE_treatment)
importFrom("grDevices", "dev.off", "dev.new", "rainbow")
importFrom("graphics", "lines")
importFrom("stats", "optim", "runif", "sd")
importFrom("utils", "read.csv", "tail", "write.csv")